<?xml version='1.0' encoding='ASCII'?>
<robot name="cylinder">
  <link name="cylinder">
    <inertial>
      <origin xyz="-2.3711731168750936e-17 -8.374362868338648e-18 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="31.21445152258052"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="cylinder_geometry_0">
      <geometry>
        <cylinder radius="1.0" length="10.0"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <material name="cylinder_geometry_0_main_color">
        <color rgba="0.6784313725490196 0.9882352941176471 0.00784313725490196 1.0"/>
      </material>
    </visual>
    <collision name="cylinder_geometry_0">
      <geometry>
        <cylinder radius="1.0" length="10.0"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
</robot>
